@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffd2e6;
  letter-spacing: 0.05em;
  line-height: 120%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  padding: 10px;
  background-color: #d41a6b;
  border-radius: 0px 5px 30px 0px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 40px;
}

.header {
  background-color: #d41a6b;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.inst-label {
  background-color: #fff;
  padding: 6px;
  border-radius: 5px 0px 0px 15px;
  color: #d41a6b;
}

.icon-menu {
  display: none;
}

.promo {
  padding: 100px 10px 100px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d41a6b), color-stop(50%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #d41a6b 0%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(180deg, #d41a6b 0%, rgba(255, 255, 255, 0) 50%);
}

.promo__wrapp {
  position: relative;
}

.promo__title {
  font-size: 34px;
  line-height: 120%;
  padding-left: 10px;
  text-transform: uppercase;
  max-width: 325px;
  margin-bottom: 20px;
}

.promo__title span {
  color: #d41a6b;
  font-weight: 700;
}

.promo__subtitle {
  max-width: 345px;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 10px;
  background: rgba(212, 26, 107, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0px 10px 60px 0px;
}

.promo__btn {
  display: inline-block;
  background-color: #fff;
  color: #d41a6b;
  font-weight: 700;
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px 0 10px;
  border-radius: 0px 10px 60px 0px;
}

.promo__img {
  position: absolute;
  top: 180px;
  right: 10px;
}

.pref__wrapp {
  padding: 0px 15px 50px 15px;
}

.pref__card {
  position: relative;
  margin-bottom: 20px;
}

.pref__card-text {
  background: rgba(212, 26, 107, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px 20px 20px 20px;
  padding: 25px 10px;
}

.pref__card-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pref__card-title span {
  color: #d41a6b;
}

.pref__card-sub {
  font-size: 12px;
  font-weight: 300;
  max-width: 310px;
}

.pref__card-img {
  position: absolute;
  top: 10px;
  right: 5px;
}

.person {
  padding-bottom: 70px;
}

.person_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.person__text {
  color: #d41a6b;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.person__text span {
  font-weight: 700;
}

.person__text-left {
  border-radius: 0px 10px 45px 0px;
}

.person__text-right {
  border-radius: 10px 0px 0px 45px;
  padding-left: 26px;
}

.product {
  padding-bottom: 100px;
}

.product__wrapp {
  padding: 0 15px;
  position: relative;
}

.product__wrapp::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../img/product-bg.svg") center center/contain no-repeat;
  z-index: -1;
}

.product__card-top {
  background-color: #d41a6b;
  position: relative;
  height: 105px;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px dashed #fff;
}

.product__card-tariff {
  padding-top: 15px;
}

.product__card-title {
  background-color: #fff;
  color: #d41a6b;
  display: inline-block;
  padding: 10px 50px 10px 5px;
  border-radius: 0px 2px 12px 0px;
  font-weight: 900;
  font-size: 20px;
  position: relative;
  margin-bottom: 10px;
}

.product__card-title::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  background: url("../img/tariff01.png");
  margin-left: 10px;
}

.product__card-price {
  padding-left: 5px;
}

.product__card-bar {
  position: absolute;
  top: 0;
  right: 50px;
}

.product__card-label {
  color: #d41a6b;
  font-size: 10px;
  line-height: 20px;
  padding: 0 5px;
  background-color: #fff;
  height: 20px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 41px;
  right: -42px;
  border-radius: 20px 0 0 0;
}

.product__card-sub {
  padding: 40px 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.product__card-item {
  color: #d41a6b;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
}

.product__card-item--plus::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/plus.svg");
  margin: -2px;
  margin-right: 5px;
}

.product__card-item--minus {
  color: #e6669d;
  font-weight: 400;
}

.product__card-item--minus::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/minus.svg");
  margin: -2px;
  margin-right: 5px;
}

.product__card-btn {
  display: block;
  background-color: #d41a6b;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
  height: 50px;
  border-radius: 0 0 20px 20px;
}

.footer {
  padding: 200px 10px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd2e6), color-stop(80.26%, #d41a6b));
  background: -o-linear-gradient(top, #ffd2e6 0%, #d41a6b 80.26%);
  background: linear-gradient(180deg, #ffd2e6 0%, #d41a6b 80.26%);
}

.footer__sub {
  line-height: 2;
  font-size: 16px;
  max-width: 320px;
}

.footer__link {
  background-color: #fff;
  color: #d41a6b;
  padding: 7px;
  border-radius: 7px;
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .icon-menu {
    display: block;
    background-color: #fff;
    position: relative;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 0px 5px 20px 0px;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 10px;
    position: absolute;
    width: 65%;
    height: 2px;
    background-color: #d41a6b;
  }

  .icon-menu span:first-child {
    top: 5px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 5px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@supports (-webkit-appearance:none){
.product__wrapp::after{background:url("../img/product-bg.svg") center center/contain no-repeat}
.product__card-title::after{background:url("../img/tariff01.webp")}
.product__card-item--plus::before{background:url("../img/plus.svg")}
.product__card-item--minus::before{background:url("../img/minus.svg")}
}

 @media (max-width: 1212px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}
